src/main/resources/jmt/common/xml/SIMmodeldefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited by Bertoli Marco -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Archive.xsd"/>
	<xs:element name="sim">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userClass" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="type" type="xs:string" use="required"/>
						<xs:attribute name="priority" type="xs:string" use="required"/>
						<xs:attribute name="softDeadline" type="xs:string"/>
						<xs:attribute name="referenceSource" type="xs:string" use="optional"/>
						<xs:attribute name="customers" type="xs:string" use="optional"/>
						<xs:attribute name="cacheMissClass" type="xs:string" use="optional"/>
						<xs:attribute name="cacheHitClass" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="node" maxOccurs="unbounded"/>
				<xs:element name="measure" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="alpha" use="required">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:double">
											<xs:whiteSpace value="collapse"/>
										</xs:restriction>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Infinity"/>
											<xs:enumeration value="-Infinity"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="precision" use="required">
							<xs:simpleType>
								<xs:union>
									<xs:simpleType>
										<xs:restriction base="xs:double">
											<xs:whiteSpace value="collapse"/>
										</xs:restriction>
									</xs:simpleType>
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Infinity"/>
											<xs:enumeration value="-Infinity"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:union>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="verbose" use="optional">
							<xs:simpleType>
								<xs:restriction base="xs:boolean">
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="type" type="xs:string" use="required"/>
						<xs:attribute name="referenceNode" type="xs:string" use="required"/>
						<xs:attribute name="referenceUserClass" type="xs:string" use="required"/>
						<xs:attribute name="nodeType" type="xs:string" use="optional"/>
						<xs:attribute name="serverType" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="connection" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="source" type="xs:string" use="required"/>
						<xs:attribute name="target" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="blockingRegion" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="regionNode" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="nodeName" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="globalConstraint">
								<xs:complexType>
									<xs:attribute name="maxJobs" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="globalMemoryConstraint" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:attribute name="maxMemory" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="classConstraint" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobClass" type="xs:string" use="required"/>
									<xs:attribute name="maxJobsPerClass" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="classMemoryConstraint" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobClass" type="xs:string" use="required"/>
									<xs:attribute name="maxMemoryPerClass" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="dropRules" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobClass" type="xs:string" use="required"/>
									<xs:attribute name="dropThisClass" type="xs:boolean" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="classWeight" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobClass" type="xs:string" use="required"/>
									<xs:attribute name="weight" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="classSize" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobClass" type="xs:string" use="required"/>
									<xs:attribute name="size" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="classSoftDeadline" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobClass" type="xs:string" use="required"/>
									<xs:attribute name="softDeadline" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="groupConstraint" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobGroup" type="xs:string" use="required"/>
									<xs:attribute name="maxJobsPerGroup" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="groupMemoryConstraint" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="jobGroup" type="xs:string" use="required"/>
									<xs:attribute name="maxMemoryPerGroup" type="jdouble" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="groupClassList" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="groupClass" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="jobGroup" type="xs:string" use="required"/>
												<xs:attribute name="jobClass" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="type" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="preload" minOccurs="0">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="stationPopulations">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="classPopulation">
											<xs:complexType>
												<xs:attribute name="refClass" type="xs:string" use="required"/>
												<xs:attribute name="population" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="stationName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="debug" type="xs:boolean" use="optional"/>
			<xs:attribute name="seed" type="xs:long" use="optional"/>
			<xs:attribute name="maxTime" type="jdouble" use="optional"/>
			<xs:attribute name="maxSimulated" type="jdouble" use="optional"/>
			<xs:attribute name="polling" type="jdouble" use="optional"/>
			<xs:attribute name="maxSamples" type="xs:int" use="optional"/>
			<xs:attribute name="maxEvents" type="xs:int" use="optional"/>
			<xs:attribute name="logPath" type="xs:string" use="optional"/>
			<xs:attribute name="logDelimiter" type="xs:string" use="optional"/>
			<xs:attribute name="logReplaceMode" type="xs:int" use="optional"/>
			<xs:attribute name="logExecutionTimestamp" type="xs:boolean" use="optional"/>
			<xs:attribute name="disableStatisticStop" type="xs:boolean" use="optional"/>
			<xs:attribute name="logDecimalSeparator" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="section">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="className" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="refClass" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="subParameter"/>
				</xs:sequence>
				<xs:element ref="value"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:attribute name="classPath" type="xs:string" use="required"/>
			<xs:attribute name="array" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classSoftDeadlines" minOccurs="0"/>
				<xs:element ref="quantumSize" minOccurs="0"/>
				<xs:element ref="quantumSwitchoverTime" minOccurs="0"/>
				<xs:element ref="delayOff" minOccurs="0"/>
				<xs:element ref="setUp" minOccurs="0"/>
				<xs:element ref="section" minOccurs="0" maxOccurs="3"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="subParameter">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="refClass" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="subParameter"/>
				</xs:sequence>
				<xs:element ref="value"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="classPath" type="xs:string" use="required"/>
			<xs:attribute name="array" type="xs:boolean" use="optional" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="refClass" type="xs:string"/>
	<xs:element name="classSoftDeadlines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="softDeadline" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="quantumSize">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="quantaSize" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="quantumSwitchoverTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="quantumSwitchoverTime" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="delayOff">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="setUp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
